.svn
.git
_UpgradeReport_Files
Debug
Release
bin
obj
~$*.*
~*.tmp
~*.*
~*
*.suo
*.ncb
*.pdb
*.vssscc
*.vspscc
*.user
*.scc
*.pnm
*.yv12
*.bmp
*.264
*.m4m
*.t264
*.obj
*.o
*.a
*.layout
*.*~
\#*\#
